---
name: publish

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+

env:
  GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
  GRADLE_SWITCHES: "-s --console=plain --info --stacktrace"
  AST_PUBLISH_USERNAME: ${{ secrets.AST_PUBLISH_USERNAME }}
  AST_PUBLISH_PASSWORD: ${{ secrets.AST_PUBLISH_PASSWORD }}
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.gradle_enterprise_access_key }}
  ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.ossrh_username }}
  ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.ossrh_token }}
  ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ossrh_signing_key }}
  ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ossrh_signing_password }}

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'openrewrite'
    steps:
      - name: git-checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: set-up-jdk
        uses: actions/setup-java@v3.11.0
        with:
          distribution: temurin
          java-version: 17
          cache: "gradle"
      - name: publish-release
        if: (!contains(github.ref, '-rc.'))
        timeout-minutes: 30
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            ${{ env.GRADLE_SWITCHES }}
            -Preleasing
            -Prelease.disableGitChecks=true
            -Prelease.useLastTag=true
            final
            publish
            closeAndReleaseSonatypeStagingRepository
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.OSSRH_TOKEN }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.OSSRH_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.OSSRH_SIGNING_PASSWORD }}
