---
name: publish

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+

env:
  GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
  GRADLE_SWITCHES: "-s --console=plain --info --stacktrace"
  AST_PUBLISH_USERNAME: ${{ secrets.AST_PUBLISH_USERNAME }}
  AST_PUBLISH_PASSWORD: ${{ secrets.AST_PUBLISH_PASSWORD }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: set-up-jdk
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: "17"
      - name: setup-cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.ARTIFACT_REGISTRY_KEY }}
      - uses: google-github-actions/setup-gcloud@v1.0.1

      - name: publish-candidate
        if: contains(github.ref, '-rc.')
        timeout-minutes: 30
        run: ./gradlew ${GRADLE_SWITCHES} -Preleasing -Prelease.disableGitChecks=true -Prelease.useLastTag=true candidate publish

      - name: publish-release
        if: (!contains(github.ref, '-rc.'))
        timeout-minutes: 30
        run: ./gradlew ${GRADLE_SWITCHES} -Preleasing -Prelease.disableGitChecks=true -Prelease.useLastTag=true final publish
